<div id="main-container">
    <div id="header"></div>
    <div id="progress-bar">
        <p id="stats">Translation in progress...</p>
        <p id="instruction">Please wait while your file is being translated.</p>
        <div id="circle">
            <div id="inner-circle">
                {{percentage}}{{percentSymbole}}
            </div> 
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#0492fe" />
                      <stop offset="100%" stop-color="#0492fe" />
                   </linearGradient>
                </defs> 
                <circle cx="80" cy="80" r="35" stroke-linecap="round" />
            </svg>                      
        </div>
    </div>
</div>
    
  


  




  
  