<div id="main-container">
    <div id="input">
        <div id="first-input">
            <div>
                <img id="dropdown" src="assets/dropdownOpen.png" alt="" >
            </div>
            <input type="text" placeholder="Search">
            <div>
                <img id="search" src="assets/search.png" alt="">
            </div>
        </div>
        <div id="second-input">
            <div>
                <img src="assets/dropdownOpen.png" alt="" >
            </div>
            <input type="text" placeholder="Search">
            <div>
                <img id="search" src="assets/search.png" alt="">
            </div>
        </div>
    </div>
</div>